MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
PORT=5000
JWT_SECRET=<your-jwt-secret>
JWT_RESET_PASS_SECRET=<your-reset-pass-secret>
EXPIRES_IN=10d
JWT_RESET_PASS_TOKEN_EXPIRES_IN=5m
RESET_PASS_LINK=https://yourdomain.com/reset-password
EMAIL=noreply@yourdomain.com
APP_PASS=<your-email-app-password>
CRON_SECRET=<your-cron-secret>
